<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Shelf</title>
    
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/bundle.js" defer></script>

<!--     <script src="/jquery/dist/jquery.js"></script> -->

<!-- <script src="/node_modules/bootstrap/dist/css/bootstrap.css"></script> -->


        <!-- link to Bootstrap -->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" class="active" href="/">Book Shelf</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/add">Add a Book</a></li>
                <li><a href="/stats">Reading Stats</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </nav>

  
<!--     <div class="container content"> -->
    <div id="app"></div>
    </div>
    <hr/>
    <div id="footer" class="container text-muted">
        BOOK SHELF by Elliott
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>

</html>