html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

img {
	box-shadow: 0px 10px 5px grey;
	margin: 0px 0px 10px 0px;
}

.jumbotron {
	background-color: #E8EAF6; 
	margin-top: 15px;
}

.book-image {
	box-shadow: 0px 10px 5px grey;
	margin-top: 1%;
	margin-right: 3%;
	display: inline-block;
	float: right;
	height: 200px;
}

.book-box {
	overflow: auto;
	margin: 20px;
	margin-top: 0px;
	padding: 10px 40px 20px 40px;
	position: relative;
	display: inline-block;
	text-align: center;
	width: 70%;
	background-color: white;
	border-radius: 2%;
}

.bookNotes {
	background-color: #E8EAF6; 
	padding: 10px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center; 
}

.option {
	background-color: #E8EAF6; 
}

i {
	display: inline; 
}


.btn-primary {
	background-color: #EC407A; 
	border-color: #EC407A;
	color: white;
}

.btn-primary:hover {
	background-color: #C51162; 
	border-color: #C51162;
	color: white;
}

 .btn-link {
 	color: #EC407A;
 }

 .btn-link:hover {
 	color: #C51162;
 }

/* navbar */
.navbar-default {
    background-color: #303F9F;
    border-color: #303F9F;
    border-radius: 0px;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white; 
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FF80AB; 
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0px;
}

.whoami {
	padding: .75% 3% 0% 0%;
}

ul {
	display: inline-block;
	padding-bottom: 10px; 
}


li {

	list-style-type: none;
	text-align: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 4px 30px 4px 4px;
  background-color: #7986CB;
  color: white;
  text-align: right;
}

a {
	color: #1d293d;	
}

.fa {
	color: #EC407A;
}

h4 {
	padding-bottom: 8px;
}

a:hover {
  color: #012e77;
}

h1, h2, h3 {
	font-family: 'Quattrocento', serif !important; 
}

.link {
	color: #EC407A; 
}

.link:hover {
	color: #C51162;
}

.title, .author {
	font-weight: bold;
	width: 130px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.title {
	font-family: 'Quattrocento', serif !important; 
	font-size: 120%;
}

.side-note {
	display: inline-block;
	float: right;
	margin: 0px;
}

.add-book-form {
	padding-bottom: 35%;
}

.btn-lg {
	margin-top: 5%;
}

a:active {
	opacity: .5;
}
